* {
  font-family: 'Cardo';
}

.title {
  margin-top: 10px;
  margin-left: 30px;
  text-align: center;
}

.title p {
  font-size: 45px;
  color: #a1a1a1;
  text-transform: uppercase;
}

.title img {
  width: 10%;
  height: 100%;
}
.wrapper {
  display: flex;
  text-align: center;
  align-items:center;
  justify-content: center;
}
